body{
    background: url("https://img.freepik.com/premium-photo/handcuff-table-with-police-lights-background_475765-11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.loginPoliceLogin{
    background-color: white;
    border-radius: 5px;
}